.clear {
	clear: both;
}

#calendar-header {
	float: left;

	#calendar-description {
		font-size: 3em;
		margin: 0;
		margin-bottom: 5px;
	}

	#calendar-description-sub {
		position: relative;
		top: -10px;
	}

	#calendar-age {
		color: #888;
	}

}

#calendar-dates {
	width: 800px;
}

.date {
	float: left;
	width: 100px;
	height: 120px;
	background-color: #FAFAFA;
	margin: 5px;
	border: 2px solid #EEE;
	border-radius: 5px;
	box-shadow: 1px 1px 7px #666;

	.color-block {
		height: 6px;
		background-color: black;
		border-radius: 5px;
	}
	.color-block.January { background-color: red; }
	.color-block.February { background-color: blue; }
	.color-block.March { background-color: green; }
	.color-block.April { background-color: YellowGreen; }
	.color-block.May { background-color: purple; }
	.color-block.June { background-color: gray; }
	.color-block.July { background-color: Darkorange; }
	.color-block.August { background-color: yellow; }
	.color-block.September { background-color: DodgerBlue; }
	.color-block.October { background-color: HotPink; }
	.color-block.November { background-color: Lime; }
	.color-block.December { background-color: maroon; }

	.responses {
		display: none;
	}
}

#calendar-contributors {
	float: right;
}

#calendar-comment-input {
	height: 20px;
	margin-bottom: 10px;
}

#calendar-comments {
	margin-top: 30px;
	margin-bottom: 100px;
}

.calendar-comment {
	margin-bottom: 5px;
	font-size: .9em;

	.comment-user {
		display: table-cell;
		vertical-align: middle;
		padding: 5px;
		padding-right: 10px;
	}

	.comment-time {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		font-size: .7em;
		padding: 2px 1px 2px 4px;
		margin-right: 10px;
		width: 50px;
	}

	.comment-text {
		display: table-cell;
		vertical-align: middle;
		position: relative;
		margin-right: 10px;
	}

	.comment-body {
		margin-right: 10px;
		display: table-cell;
		max-width: 600px;
		padding: 2px 10px;
	}

	.comment-date {
		display: table-cell;
		vertical-align: middle;
		font-size: .7em;
		width: 120px;
		padding: 2px 1px 2px 10px;
		margin-right: 2px;

		opacity: 0;
		transition: opacity .25s ease-in-out;
		-moz-transition: opacity .25s ease-in-out;
		-webkit-transition: opacity .25s ease-in-out;
	}
}

.calendar-comment:hover .comment-date {
	opacity: 1;
}

.arrow_box {
	position: relative;
	background: #ffffff;
	border: 1px solid #BBB;
	border-radius: 4px;
}
.arrow_box:after, .arrow_box:before {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-right-color: #ffffff;
	border-width: 5px;
	top: 50%;
	margin-top: -5px;
}

.arrow_box:before {
	border-right-color: #BBB;
	border-width: 6px;
	top: 50%;
	margin-top: -6px;
}

